@use '~@angular/material' as mat;

@include mat.core();

//Ref: https://material.angular.io/guide/theming

$catcher-primary: mat.define-palette(catcher-palette, 500);
$catcher-accent: mat.define-palette(catcher-palette, A200, A100, A400);
// Warn palette left as default red

// Default CATcher light theme
$catcher-theme: mat.define-light-theme((
  color: (
    primary: $catcher-primary,
    accent: $catcher-accent,
  )
));

// CATcher dark theme
$catcher-dark-theme: mat.define-dark-theme((
  color: (
    primary: $catcher-primary,
    accent: $catcher-accent,
  )
));

// Emit theme-dependent styles for common features used across multiple components
@include mat.core-theme($catcher-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles
@include mat.button-theme($catcher-theme);

// Apply the dark theme only when the user prefers dark themes
@media (prefers-color-scheme: dark) {
  @include mat.core-theme($catcher-dark-theme);
  @include mat.button-theme($catcher-dark-theme);
}
